<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Contacts</title>
      <style>
         .pagination {
         display: inline-block;
         }
         .pagination a {
         color: black;
         float: left;
         padding: 5px 5px;
         text-decoration: none;
         }
         .pagination a.active {
         background-color: gray;
         color: white;
         border-radius: 2px;
         }
      </style>
   </head>
   <body>
      <h1>Contacts</h1>
      <div>
          <form action="/search">
            <label for="search">Search by name:</label>
            <input type="text" id="search" name="name">
            <input type="submit" value="Search">
         </form>
      </div>
      <br>
      <table border="1">
         <thead>
            <tr>
               <th th:text="#{contact.name}" />
               <th th:text="#{contact.photo}" />
            </tr>
         </thead>
         <tbody>
            <tr th:each="contact, iStat : ${contactPage.content}"
               th:style="'font-weight: bold;'">
               <td th:text="${contact.name}" />
               <td><img th:src="${contact.photo}"/></td>
            </tr>
         </tbody>
      </table>
      <div>
      <a th:href="@{/contacts(size=${contactPage.size}, page='1')}">First page</a>
      <a th:if="${contactPage.number > 0}" th:href="@{/contacts(size=${contactPage.size}, page=${contactPage.number})}" th:text="Previous"></a>
      <div th:if="${contactPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
         <a th:href="@{/contacts(size=${contactPage.size}, page=${pageNumber})}"
            th:text=${pageNumber}
            th:class="${pageNumber==contactPage.number + 1} ? active"></a>
      </div>
      <a th:if="${(contactPage.number + 1) < contactPage.totalPages}" th:href="@{/contacts(size=${contactPage.size}, page=${contactPage.number + 2})}" th:text="Next"></a>
      <a th:href="@{/contacts(size=${contactPage.size}, page=${contactPage.totalPages})}">Last page</a>
      </div>
      <br>
      <div>
         <form action="/contacts">
            <label for="size">Page size:</label>
            <input type="text" id="size" name="size" size="3">
            <input type="submit" value="Submit">
         </form>
      </div>
   </body>
</html>